ul.listmenu {
  display: inline;
  margin: 0;
  padding: 0;
}
ul.listmenu li {
  display: inline;
  /* white-space: nowrap should be moved to child A because IE fails to wrap resulting list completely */
}
ul.listmenu li::before {
  content: ' ';
  /*
  this content is important only for Crome in case the HTML will be minified with no whitespaces between </li><li>
  */
}
ul.listmenu li::after {
  content: ' ';
  white-space: normal;
  word-spacing: 1em; /* = nav@padding-right - this actually makes width */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='16'><rect fill='ffffff' x='0' y='0' width='10%' height='100%'/></svg>");
  background-size: 1em 1em;
  background-repeat: no-repeat;
  background-position: left 7px top 2px;
  opacity: 0.5;
}
