.top-margin-md {
  margin-top:40px!important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    color: #333;
}
h2.section-heading {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
}
h3.section-subheading {
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  text-transform: none;
  font-weight: 300;
  color: #6f7c82;
  line-height: 1.5;
}
h2 {
    display: block;

    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}

.bottom-margin-sm {
    margin-bottom: 20px!important;
}
::selection {
    text-shadow: none;
    background: #fed136;
}
.btn-xl {
    color: white;
    background-color: #617fde;
    border-color: #617fde;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 50px;
    font-size: 16px;
    padding: 15px 30px;
}

.contactUsRow {
  margin-bottom: 50px;
}


.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 300px;
  height: 300px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
