* {
    box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: "#fff";
}
.topContainer{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.serviceIntroduction {

  font-family: "'Roboto', sans-serif";
  font-size: 20;


}
.menuContainer {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin:20px;
}
.contentContainer {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin:20px;
}
.menuContainer li{
    list-style-type: none;
    margin: 5px;
    padding: 0;
    white-space:nowrap;

}

.hideSource{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.serviceSection{
   padding:5px;
   margin:5px;
}
.codeContainer{
  max-height: 500px;
  max-width:800px;
  margin-left: 30px;

  background: #D9DFE9;
	overflow-y: scroll;
	margin-bottom: 25px;
}
.showSourceText{
  color:blue;
  cursor:pointer;
  margin:10px;


}

.appTitle{
  font-size: 22px;
}

.loginComplete{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin:15px;

}
.loginComplete .title{
    border:1px solid red;
    padding:8px;
}

.simpleInputFinishedContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin:15px;
}
.simpleInputFinishedText{
  border:1px solid red;
  padding:8px;
}
.ptext{
  margin:15px;
}









a {
  text-decoration:none;
}
.serviceContainer{
  display:flex;
  flex-direction: column;
  border: 3px solid #C0D0E1;
  margin:20px;
}

.linkSection{
  display:flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width:100%;
}
.arrowContainer{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
}
.serviceTitle{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size:24px;
  background-color:#49729E;
  height:50px;
  color:#FFFFFF;
}
.applicationContainer{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.simpleServiceContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.loginForm{
    background-color: #B9C6DB;
    box-shadow: 10px 10px 5px #888888;
}
.loginTitle{
  display:flex;
  flex-direction: row;
  justify-content: center;
  color:white;
  align-items: center;
  background-color: #396BBC;
  font-size: 36px;
}

.contetAndLabelRecord{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: rigth;
  margin:10px;
  background-color: #E5E8EC
}


.contetAndLabelLabel{
  width:100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding:8px;
}
.inputCodeContainer{
  flex:1;

}
.soucecode{

}
