.adjustableCodeData {
  display:flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.adjustableCodeDataContainer{
  display:flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.codedataControllerContainer{
  display:flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}
.input.senderNotConnected {
  background-color: white;
  flex:1;
  display:"flex";
  flex-direction: "column";

}

.input.senderConnected {
    border: 2px solid red;
    flex:1;
    display:"flex";
    flex-direction: "column";
}
