@media screen {
.printOnly{
    display:none;
}
}
@media print {
  div.noprint{
    display:none;
  };
  div.printOnly {
      height: 100%;
      width: 100%;
      font-size: 14px;
      line-height: 18px;
      background-color: white;
      color:black;
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding:20px;
  }


}
